@font-face {
    font-family: 'Futura PT';
    src: url('/static/fonts/FuturaCyrillicMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Futura PT';
    src: url('/static/fonts/FuturaCyrillicLight.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Futura PT';
    src: url('/static/fonts/FuturaCyrillicBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  